@import "./warehouses.scss";

.q-item.q-router-link,
.q-item {
  &--active {
    color: $secondary;
    & .q-item__label--caption {
      color: $secondary !important;
    }
  }
}

.text-muted {
  color: rgb(134, 134, 134);
}

// FORM ERROR MESSAGE SMALL FIX
.q-field__bottom--animated {
  padding-top: 3px;
}
